/* GENERAL */
html {
  color-scheme: light dark;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #f5f6fa;
  color: #1e272e;
  display: block;
  margin: 0px;
}

/* HEADER */
.header-background {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  z-index: 1000;
}

.header-background img {
  width: 3rem;
}

.logo {
  content: url("assets/imgs/erickreyes-logo.svg");
}

/* BODY */
.body {
  margin: auto;
  width: 50%;
}

/* SECTION MAIN */
.section-main {
  margin: 12rem 0;
}

.section-main h1 {
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.section-main p {
  font-family: "Space Grotesk", sans-serif;
  color: #ff66d8;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 0.8s ease-in both;
}

/* GRID */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2%;
  text-align: center;
  margin-bottom: 2%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-bottom: 2%;
}

.grid-2 .column-1 i {
  font-size: 3rem;
}

.grid-2-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 2rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 2%;
}

.grid-4 .column-1 i {
  font-size: 3rem;
}

.columna1 {
  width: 60%;
  border-radius: 30px;
}

/* Projects */
.section h2 {
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  margin-top: 8rem;
}

.section .download {
  margin-top: 3rem;
}

.section .download a {
  margin-top: 3rem;
  text-decoration: none;
  color: #FF66D8; 
  font-weight: bold;
}

.section img {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0 2rem 0;
  border: solid #92DCE5 5px;
  box-sizing: border-box;
}

.section h3 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: #1e272e;
  margin: 0;
}

.section h3 a {
  text-decoration: none;
  color: #1e272e;
  margin: 0;
}

.section p {
  margin: 0 0 0 0;
}

.section .p-margin-bottom {
  margin: 0 0 1rem;
}

/* Skills */
.section-alt h2 {
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  margin-top: 8rem;
}

.section-alt i {
  font-size: 5rem;
  color: #1e272e;
}

/* Footer */
.footer-background {
  background: #ffffff;
}

.footer-background a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  margin: 3.5rem 1rem;
}

.footer-background .grid-3 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.space-section {
  margin: 0rem;
}

@media screen and (max-width: 760px) {
  .body {
    margin: auto;
    max-width: 1100px;
    width: 90%;
  }

  .header-background {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .header-background img {
    width: 2.5rem;
  }

  .section-main h1 {
    font-size: 2.5rem;
  }

  .grid-4,
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .section-main {
    margin: 15rem 0;
  }

  .section h2,
  .section-alt h2 {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e272e;
    color: #f5f6fa;
  }

  img,
  svg {
    filter: none !important;
  }

  .header-background {
    background: rgba(30, 39, 46, 0.7);
    border: 1px solid rgba(30, 39, 46, 0.7);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  }

  .section .download a,
  .section .download i {
    margin-top: 3rem;
    text-decoration: none;
    color: #FF66D8
  }

  .section h3 a,
  .section i,
  .section h3, .section-alt i {
    color: #f5f6fa;
  }

  .footer-background {
    background: #2c3a47;
  }

  .logo {
    content: url("assets/imgs/erickreyes-logo-dt.svg");
  }
}
